body {
    font-family: 'Times New Roman', serif; 
    font-style: normal; 
    background-color: #F5F5DC; 
    color: #800020; 
    line-height: 1.6;
    text-align: left; 
}
 /* Custom Bootstrap Colors */
 .navbar {
    background-color: #800020; 
}

.navbar-light .navbar-nav .nav-link {
    color: #F5F5DC; 
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.91); 
    background-color: #4a6e4d; 
    border-radius: 3px; 
}
header {
    text-align: center; 
    padding: 40px 20px;
    background-color: #4a6e4d; 
    color: #F5F5DC;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 20px 20px;
}

h1 {
    font-family: 'Cambria', serif; 
    font-size: 2em; 
    font-weight: normal; 
}

.profile-image {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin: 15px 0;
    border: 5px solid white;
    transition: transform 0.3s;
}

.profile-image:hover {
    transform: scale(1.1);
}

h2, h3 {
    font-family: 'Georgia', serif; 
    margin-bottom: 10px; 
    color: #800020; 
    font-size: 1.5em; 
    font-weight: normal; 
}

.experience, .project {
    font-size: 0.9em;
}

section {
    padding: 20px;
    margin: 10px;
    border: 2px solid #4a6e4d; 
    border-radius: 10px;
    background-color: #F5F5DC; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

section:hover {
    transform: translateY(-5px);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.project, .experience {
    margin-bottom: 20px;
}

a {
    color: #4a6e4d; 
    transition: color 0.3s;
}

a:hover {
    color: rgba(255, 255, 255, 0.91); 
    background-color: #4a6e4d; 
    padding: 2px 5px; 
    border-radius: 3px;
}

a:focus {
    outline: 2px solid #800020; 
}

#contact-info {
    padding: 20px;
    background-color: #F5F5DC; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 15px; 
    margin-left: 20px; 
}

.contact-item {
    display: flex; 
    align-items: center;
}

.social-icon {
    width: 25px;
    height: auto;
    margin-right: 8px;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.2);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4a6e4d; 
    color: #F5F5DC; 
    margin-top: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .profile-image {
        width: 100px; 
    }

    h1 {
        font-size: 1.8em; 
    }

    h2 {
        font-size: 1.5em; 
    }
}